* {
    margin: 0;
    padding: 0;
}

.body-div {
    width: 70%;
    margin: 15vh auto;
    padding: 50px 70px;
    background-color: rgba(250, 250, 250, 0.959);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    overflow: hidden;
    
}